# Google OAuth2 (Google Identity Services)
# Crea un OAuth Client ID de tipo Web en Google Cloud Console
# y colócalo aquí para habilitar el botón de Google en /login.
PUBLIC_GOOGLE_CLIENT_ID=533947751190-u671h8i9dqd9qk4bf5qoo3i2tmlabsqp.apps.googleusercontent.com

